kentigern >= 0.3.0
numpydoc
sphinx
sphinx-click
sphinxcontrib-httpdomain
sphinxcontrib-httpexample 
sphinx-jsonschema
sphinx-multiversion
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
